@model Alnet.AudioServer.Web.Models.PlayerFullInfoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function updateData() {
        $.ajax({
            url: "/Player/GetPlaybackPositionJson/@Model.PlayerId",
            complete: function (data, textStatus) {

            },
            success: function (data) {
                $("#a_soundname").text(data.SoundName);
                if (data.IsPlaying) {
                    //$("#btnPlay .ui-btn-text").text("||");
                    $("#btnPlay").addClass("played");
                } else {
                    //$("#btnPlay .ui-btn-text").text(">");
                    $("#btnPlay").removeClass("played");
                }
            }
        });
    }

    $(document).ready(function () {
        updateData();

        $("#btnPlay").bind("click", function (event, ui) {
            var alreadyPlayed = $(this).hasClass("played");
            var url;
            if (alreadyPlayed) {
                url = "/Player/Stop/@Model.PlayerId";
            } else {
                url = "/Player/Play/@Model.PlayerId";
            }
            $.ajax({
                url: url,
                success: function (data) {
                    updateData();
                }
            });
        });

        $("#btnNextSound").bind("click", function (event, ui) {
            $.ajax({
                url: "/Player/MoveNextSound/@Model.PlayerId",
                success: function (data) {
                    updateData();
                }
            });
        });

        $(".pl_c_sound").bind("click", function(event, ui) {
            var soundIndex = $(this).attr("sound-index");
            $.ajax({
                url: "/Player/PlayConcrete/@Model.PlayerId/" + soundIndex,
                success: function (data) {
                    updateData();
                }
            });
        });

        $("#btnPrevSound").bind("click", function (event, ui) {
            $.ajax({
                url: "/Player/MovePrevSound/@Model.PlayerId",
                success: function (data) {
                    updateData();
                }
            });
            updateData();
        });

        $("input.chkChannel").bind("change", function (event, ui) {
            var channelIndex = $(this).attr("id");
            var newIsChannelEnabled = $(this).is(":checked");
            if (newIsChannelEnabled) {
                $.ajax({
                    url: "/Player/EnableChannel/@Model.PlayerId/" + channelIndex,
                    success: function (data) {
                        updateData();
                    }
                });
            } else {
                $.ajax({
                    url: "/Player/DisableChannel/@Model.PlayerId/" + channelIndex,
                    success: function (data) {
                        updateData();
                    }
                });
            }
        });
    });
</script>

<div id="a_playback">
    <div id="a_title">
        <span style="font-weight: bold">Сейчас играет:</span>
        <span id="a_soundname"> @Model.Playback.SoundName</span>
    </div>
</div>
<div id="a_controls">
    <a id="btnPlay" data-role="button" data-inline="true" data-iconpos="notext" data-icon="playsound">играть</a>
    <a id="btnPrevSound" data-role="button" data-inline="true" data-iconpos="notext" data-icon="prevsound">предыдущая песня</a>
    <a id="btnNextSound" data-role="button" data-inline="true" data-iconpos="notext" data-icon="nextsound">следующая песня</a>
        <a href="#popupVolume" data-role="button" data-rel="popup" data-inline="true">Звук</a>
</div>
<div id="popupVolume" data-role="popup">
    <form>
        <fieldset data-role="controlgroup" data-iconpos="left">
            @for (int channelIndex = 0; channelIndex < Model.Channels.Count; channelIndex++)
            {
                var channel = Model.Channels[channelIndex];
                @Html.Label(channelIndex.ToString(), channel.Name, new { @for = channelIndex.ToString() });
                @Html.CheckBox(channelIndex.ToString(), channel.IsEnabled, new { id = channelIndex, @class = "chkChannel" });
            }
        </fieldset>
    </form>
</div>

<span style="font-weight: bold">Список воспроизведения:</span>

@for (int soundIndex = 0; soundIndex < Model.Sounds.Count; soundIndex++)
{
    string soundName = Model.Sounds[soundIndex];
    <div style="padding: 5px 0">
        <a href="#" class="pl_c_sound" sound-index="@soundIndex" data-role="button" data-inline="true" data-iconpos="notext" data-icon="playsound">Play</a>
        <span>@soundName</span>
    </div>
}




