@model Alnet.AudioServer.Web.Models.PlayerFullInfoModel

@{
    ViewBag.Title = "АСЕ | Плеер";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function updateData() {
        $.ajax({
            url: "/Player/GetPlaybackPositionJson/@Model.PlayerId",
            complete: function (data, textStatus) {

            },
            success: function (data) {
                $("#a_soundname").text(data.SoundName);
                if (data.IsPlaying) {
                    $("#btnPlay").hide();
                    $("#btnStop").show();
                } else {
                    $("#btnPlay").show();
                    $("#btnStop").hide();
                }
            }
        });
    }

    $(document).ready(function () {
        $("#btnStop").hide();

        updateData();

        $("#btnPlay").bind("click", function (event, ui) {
            $.ajax({
                url: "/Player/Play/@Model.PlayerId",
                success: function (data) {
                    updateData();
                }
            });
        });

        $("#btnStop").bind("click", function (event, ui) {
            $.ajax({
                url: "/Player/Stop/@Model.PlayerId",
                success: function (data) {
                    updateData();
                }
            });
        });

        $("#btnNextSound").bind("click", function (event, ui) {
            $.ajax({
                url: "/Player/MoveNextSound/@Model.PlayerId",
                success: function (data) {
                    updateData();
                }
            });
        });

        $(".pl_c_sound").bind("click", function(event, ui) {
            var soundIndex = $(this).attr("sound-index");
            $.ajax({
                url: "/Player/PlayConcrete/@Model.PlayerId/" + soundIndex,
                success: function (data) {
                    updateData();
                }
            });
        });

        $("#btnPrevSound").bind("click", function (event, ui) {
            $.ajax({
                url: "/Player/MovePrevSound/@Model.PlayerId",
                success: function (data) {
                    updateData();
                }
            });            
        });

        $(".sliderChannel").bind("change", function (event, ui) {
            var channelIndex = $(this).attr("id");
            var newIsChannelEnabled = $(this).val() == 'on';
            if (newIsChannelEnabled) {
                $.ajax({
                    url: "/Player/EnableChannel/@Model.PlayerId/" + channelIndex,
                    success: function (data) {
                        updateData();
                    }
                });
            } else {
                $.ajax({
                    url: "/Player/DisableChannel/@Model.PlayerId/" + channelIndex,
                    success: function (data) {
                        updateData();
                    }
                });
            }
        });

        $("input.chkChannel").bind("change", function (event, ui) {
            var channelIndex = $(this).attr("id");
            var newIsChannelEnabled = $(this).is(":checked");
            if (newIsChannelEnabled) {
                $.ajax({
                    url: "/Player/EnableChannel/@Model.PlayerId/" + channelIndex,
                    success: function (data) {
                        updateData();
                    }
                });
            } else {
                $.ajax({
                    url: "/Player/DisableChannel/@Model.PlayerId/" + channelIndex,
                    success: function (data) {
                        updateData();
                    }
                });
            }
        });
    });
</script>

<div id="a_playback">
    <div id="a_title">
        <span style="font-weight: bold">Сейчас играет: </span>
        <span id="a_soundname">@Model.Playback.SoundName</span>
    </div>
</div>
<div id="a_controls">
    <a id="btnPlay" data-role="button" data-inline="true" data-iconpos="notext" data-icon="playsound">играть</a>
    <a id="btnStop" data-role="button" data-inline="true" data-iconpos="notext" data-icon="stopsound">стоп</a>
    <a id="btnPrevSound" data-role="button" data-inline="true" data-iconpos="notext" data-icon="prevsound">предыдущая песня</a>
    <a id="btnNextSound" data-role="button" data-inline="true" data-iconpos="notext" data-icon="nextsound">следующая песня</a>
</div>

<span style="font-weight: bold;">Звук в комнатах:</span>
<div style="margin-bottom: 10px">
    <div>
        @for (int channelIndex = 0; channelIndex < Model.Channels.Count; channelIndex++)
        {
            var channel = Model.Channels[channelIndex];
            <div style="display: table; ">
                <span style="width: auto; vertical-align: middle; display: table-cell; padding-right: 15px">@channel.Name:</span>
                <select class="sliderChannel" id="@channelIndex" data-role="slider" data-mini="true">                            
                    @Html.Raw(@"<option value='off'>Выкл.</option>")
                    @Html.Raw(String.Format(@"<option value='on' {0}>Вкл.</option>", channel.IsEnabled ? "selected" : ""))
                </select>
            </div>

        }
    </div>
</div>

<span style="font-weight: bold">Список воспроизведения:</span>

@for (int soundIndex = 0; soundIndex < Model.Sounds.Count; soundIndex++)
{
    string soundName = Model.Sounds[soundIndex];
    <div style="padding: 5px 0">
        <a href="#" class="pl_c_sound" sound-index="@soundIndex" data-role="button" data-inline="true" data-iconpos="notext" data-icon="playsound">Play</a>
        <span>@soundName</span>
    </div>
}




