<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/mobileCss", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @Scripts.Render("~/bundles/jquery")
        <script>
            $(document).on("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });
        </script>
        @Scripts.Render("~/bundles/jquerymobile")
        @RenderSection("scripts", required: false)

        <div data-role="page" data-theme="b">
            <div data-role="header">
                
                <span class="ui-title">Аудио сервер</span>
            </div>
            <div data-role="content">
                @RenderBody()
            </div>
            <div data-role="footer" data-position="fixed">
                <span class="ui-title">&nbsp;</span>
                <a href="/Home/Index" data-icon="home" data-iconpos="notext" class="ui-btn-left">&nbsp;</a>
            </div>
        </div>


    </body>
</html>
